<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="COMPort.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <COMPort.Properties.Settings>
            <setting name="PortName" serializeAs="String">
                <value />
            </setting>
            <setting name="BaudRate" serializeAs="String">
                <value />
            </setting>
            <setting name="TimeOut" serializeAs="String">
                <value />
            </setting>
            <setting name="IDs" serializeAs="String">
                <value />
            </setting>
            <setting name="PollPeriod" serializeAs="String">
                <value />
            </setting>
            <setting name="GetP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GetQ" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GetS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GetCosPh" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GetI" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GetUf" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GetKuf" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GetUmf" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GetKumf" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GetU1_1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GetK0u" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GetK2u" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GetF" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GetT" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConnectionString" serializeAs="String">
                <value />
            </setting>
            <setting name="DBName" serializeAs="String">
                <value />
            </setting>
        </COMPort.Properties.Settings>
    </userSettings>
</configuration>
